@font-face {
    font-family: Raleway;
    src: url(https://fonts.google.com/specimen/Raleway);
}

@font-face {
    font-family: lato;
    src: url(https://fonts.google.com/specimen/Lato);
}
@font-face {
    font-family: montserrat;
    src: url(https://fonts.google.com/specimen/Montserrat);
}